*,*::after,*::before{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
bady{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
    &:visited{
        color: inherit;
    }
}