.navBAR_top{
    width: 100%;
    height: 50px;
    background-color: midnightblue;
    padding: 0 4%;
    justify-content: space-between;
    align-content: center;
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    >*{
        /*border: 1px solid white;*/
        height: 100%;
        align-content: center;
    }
    >div{
        display: flex;
        flex-wrap: wrap;
        margin: 0 5px;
        >*{
            display: flex;
            height: 100%;
            color: white;
            font-size: 16px;
            margin-right: 10px;
            align-content: center;
        }
        >i{
            width: 20px;
        }
        >span{
            align-items: center;
        }
    }
    >nav{
       
        >ul{
            display: flex;
            
            >li{
                
                height: 100%;
                display:flex;
                >a{
                    height: 100%;
                    width: 30px;
                    display: flex;
                    /*border: 1px solid yellowgreen;*/
                    margin: 0 5px;
                }

            }
        }
    }
}
}
 /* end first*/
.nav{
    width: 100%;
    height: 150px;
    padding: 0 5%;
    justify-content: space-between;
    align-content: center;
    .row{
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
       align-content: center;
    
    >*{
        display: flex;
        height: 100%;
       /* border: 1px solid red;*/
    }
    >figure{
        justify-content: start;
        display: flex;
        width: 20%;
       
    }
     >nav{
        justify-content: center;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin:60px ;
        >ul{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            >li{
               /* border: 1px solid blue;*/
                display: flex;
                align-content: center;
                margin-right: 10px;
               
            >a{
                
                    display: flex;
                    color: rgb(3, 17, 60);
                    font-size: 18px;
                 

                    /*border: 1px solid yellowgreen;*/
                    /*background-color:red;*/
                    align-content: end;
                    margin: 0 6px;
                    font-size: 20px;
                    position: relative;
                     &:hover{
                       
                                    &::after{
                                        width: 100%;

                                    }
                                }
                                &::after{
                                    content: "";
                                    position: absolute;
                                    display: flex;
                                    width: 0px;
                                    height: 2px;
                                    bottom: -1px;left: 0px;
                                    background-color: midnightblue;
                                    transition: .4s;
                                }
            }
            }

        }
      
    }
    >div{
        width: 20%;
        display: flex;
        justify-content: center;
        align-content: center;
          
        >a{
            display: flex;
            flex-wrap: wrap;
           border-radius: 6px;
           width: 200px;
           height: 50px;
              /*border: 1px solid red;*/
             background-color: brown;
             align-content: center;
             margin:45px 0;
             padding-left: 25px;
             &:hover{
                    
                     background-color:midnightblue;
                           
                    }
        >*{
            color: antiquewhite;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
        }
            >i{
                width: 20px;
                display: flex;
            }
            >span{
                 align-items: center;
                display: flex;
        
            }
        }
    }
}
}
 
/*end second/////*/
.slider{
    width: 100%;
    min-height: 50vh;
    background-image: url(../img/imgi_65_hero-image-car-dealership.jpg);
    background-size: cover;
    padding: 0 4%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    
.row{
    /*background-color: blueviolet;*/
    justify-content: center;
    padding-left:90px ;
    margin:100px 0;
    transition: .4s;
      &::before{
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.515);
    position: absolute;
    top: 0;left: 0;
   }
    
    >div{
                width: 70%;
                height: 300px;
                align-content: center;
                justify-content: center;
                position: relative;
                /*border: 1px solid white;*/
                 >*{
                    color: white;
                
                    }
                >h2{
                    font-size: 60px;
                    
                }
                >p{
                    font-size: 40px;
                }
        }          
    
    }
   
}
/*///////////end 3 section////////*/

/*///////////////////*/
.ai{
    z-index: 1;
    width: 200px;
    height: 200px;
    border-radius: 100%;
overflow: hidden;
    position: fixed;
    right: 20px;bottom:20px;
    >img{
        width: 100%;
        height: auto;
    }
}
/*/////////////*/
#vv{
    >.vid{
        display: flex;
        flex-wrap:wrap ;
    width:100%;
    height: 500px;
    position: relative;
    /*border: 2px solid red;*/
    overflow: hidden;
    margin-top: 500px;
    
    >video{
        display: flex;
        width: 100vw;
        height: 100%;
        position: absolute;
        left: 0;top: 0;
        scale: 1.8;
    }
  
}
}
